<div class="auth">
    <div>
        <legend>Login / Signup</legend>
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Email will be verified. Also won't be shared.</div>
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile number</label>
                <input type="tel" class="form-control" id="mobile" aria-describedby="mobileHelp">
                <div id="mobileHelp" class="form-text">Mobile number will be verified. Also won't be shared.</div>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" />
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="firstName" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="password_c" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="password_c">
            </div>
            <button type="submit" class="btn btn-primary">Login / Sign-up</button>
        </form>
    </div>
</div>