
<div class="supplier-information">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Supplier</h5>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name - Business, Trading, Store, Shop</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">Email will be verified. Also won't be shared.</div>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile number</label>
                    <input type="tel" class="form-control" id="mobile" aria-describedby="mobileHelp" />
                    <div id="mobileHelp" class="form-text">Mobile number will be verified. Also won't be shared.</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input type="password" class="form-control" id="password">
                    <span class="input-group-text">Confirm Password</span>
                    <input type="password" class="form-control" id="password_c">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Location</h5>
            <form>
                <div class="input-group mb-3">
                    <span class="input-group-text">Longitude</span>
                    <input type="text" class="form-control" id="longitude" />
                    <span class="input-group-text">Latitude</span>
                    <input type="text" class="form-control" id="latitude" />
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contact Information</h5>
            <form>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">Email will be verified. Also won't be shared.</div>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile number</label>
                    <input type="tel" class="form-control" id="mobile" aria-describedby="mobileHelp" />
                    <div id="mobileHelp" class="form-text">Mobile number will be verified. Also won't be shared.</div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <div class="card none">
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <form>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">Email will be verified. Also won't be shared.</div>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile number</label>
                    <input type="tel" class="form-control" id="mobile" aria-describedby="mobileHelp" />
                    <div id="mobileHelp" class="form-text">Mobile number will be verified. Also won't be shared.</div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
