
<!-- Page Content Begin -->
<div class="main__search">
    <div class="main__search__form">
        <form action="#">
            <div class="main__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
            </div>
            <input type="text" placeholder="What do yo u need?">
            <button type="submit" class="site-btn">SEARCH</button>
        </form>
    </div>
    <div class="main__search__phone">
        <div class="main__search__phone__icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="main__search__phone__text">
            <h5>+27 369 8060</h5>
            <span>support 24/7 time</span>
        </div>
    </div>
</div>
<div class="main__item set-bg" data-setbg="/static/img/main/banner.png">
    <div class="main__text">
        <span>Xabisa</span>
        <h2>
            People's
            <br />
            Commerce
        </h2>
        <p>Modern Day Commerce - Simplified</p>
        <a href="/login" id="nav-login" class="primary-btn">Login</a>
        <a href="/register" id="nav-register" class="primary-btn">Register</a>
    </div>
</div>
<!-- Page Content End -->